nav a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    color: white;
    padding: 2%;
    text-decoration: none;
  }

.navigation a:hover {
    color:blueviolet;
}

.active {
    font-weight: 600;
    text-decoration: underline;
    color: blueviolet;
}